*{
    box-sizing: border-box;
}
body 
{
    background-color: rgba(20, 18, 18, 0.753);
    padding: 0;
    margin: 0;
    overflow: hidden;
    color:purple;
}

.game-container
{
    position: relative;
    width: 387px;
    height: 480px;
    outline: 1px solid #ffff;
    margin: 0 auto;
    margin-top:20px;
    overflow: hidden;
    transform: scale(1.2) translateY(10%);
}
.game-container canvas
{
    image-rendering: pixelated;
}